
{% extends "piservice/library_test_base.html" %}

{% block title  %}Test QR Codes {{ entity|title }}{% endblock %}
{% block header %}Test QR Codes {{ entity|title }}{% endblock %}

{% block main %}
    {# Include the visible fields #}
    <a href="../libraryTest/">Back</a><br />

    {% for station in station_table %}
    <table class="fieldWrapper" border="1">
      <thead>
        <tr>
          <th align="center">Station</th>
          {% for url in station.urls %}
          <th align="center">{{ url.label }}</th>
          {% endfor %}
        </tr>
       </thead>
       <tbody>
         <tr>
            <td style="text-align: left;">{{ station.station_id }}</td>
            {% for url in station.urls %}
            <td align="center"><img src="{{ url.url }}"><br>{{ url.label }}</td>
            {% endfor %}
         </tr>
       </tbody>
    </table>
    <br />
    <br />
    {% endfor %}
{% endblock %}
