{% extends "scoreboard/base.html" %}

{% block title  %}Main Page{% endblock %}
{% block header %}High School Design Challenge 2016{% endblock %}

{% block extra_javascript %}
  <script src="/static/scoreboard/jquery-2.1.4.js"></script>
{% endblock %}

{% block body_start %}
  <script type="text/javascript">
    function handleScoreboardStatus(data) {
       // Handle the data returned from the Ajax call
       var tableBody = "";
       data.sort(function(a,b){ return a.id - b.id; });

       var rank = 0;
       var prevScore = 9999999999;

       $.each(data, function(index, value) {
          if (value.total_score < prevScore) { rank++; }

/* TODO absorb below
          tableBody = tableBody + "<tr id=\"" + rank + "\">"
                    + "<td>" + rank + "</td>"
                    + "<td>" + value.team_icon + "</td>" // TODO
                    + "<td>" + value.team_name + "</td>"
                    + "<td>" + value.team_id + "</td>"
                    + "<td>" + value.organization + "</td>" // TODO
                    + "<td>" + value.is_registered + "</td>" // TODO
                    + "<td>" + value.launch_score + " (" + value.launch_duration + ")</td>"
                    + "<td>" + value.dock_score + " (" + value.dock_duration + ")</td>"
                    + "<td>" + value.secure_score + " (" + value.secure_duration + ")</td>"
                    + "<td>" + value.return_score + " (" + value.return_duration + ")</td>"
                    + "<td>" + value.total_score + "</td>"
                    + "<td>" + value.total_duration + "(TODO user-friendly e.g. mm:ss)</td>"
                    + "</tr>";
       });

       $('#stationTable table > tbody:first').html(tableBody);
*/

          numRows = $("tbody").find("tr").length;

          for (var i = 1; i <= numRows; ++i) {
             var id = $("tbody").find("tr:nth-child(" + i + ")").attr('id');

             if(id == ('team-' + value.name)) {
                $("tbody").find("tr:nth-child(" + i + ") td:nth-child( 1)").html("TODO rank")
                $("tbody").find("tr:nth-child(" + i + ") td:nth-child( 2)").html(value.team_icon) // TODO
                $("tbody").find("tr:nth-child(" + i + ") td:nth-child( 3)").html(value.team_name)
                $("tbody").find("tr:nth-child(" + i + ") td:nth-child( 4)").html(value.organization) // TODO
                $("tbody").find("tr:nth-child(" + i + ") td:nth-child( 5)").html(value.is_registered) // TODO
                $("tbody").find("tr:nth-child(" + i + ") td:nth-child( 6)").html(value.launch_score + " (" + value.launch_duration + ")")
                $("tbody").find("tr:nth-child(" + i + ") td:nth-child( 7)").html(value.dock_score + " (" + value.dock_duration + ")")
                $("tbody").find("tr:nth-child(" + i + ") td:nth-child( 8)").html(value.secure_score + " (" + value.secure_duration + ")")
                $("tbody").find("tr:nth-child(" + i + ") td:nth-child( 9)").html(value.return_score + " (" + value.return_duration + ")")
                $("tbody").find("tr:nth-child(" + i + ") td:nth-child(10)").html(value.total_score)
                $("tbody").find("tr:nth-child(" + i + ") td:nth-child(11)").html(value.total_duration)
                return true;
             }
          }

          rowId = "team-" + value.name;
          newRow = "<tr id='" + rowId + "'>"
                 + "<td>" + "TODO rank" + "</td>"
                 + "<td>" + value.icon + "</td>" // TODO
                 + "<td>" + value.name + "</td>"
                 + "<td>" + value.organization + "</td>" // TODO
                 + "<td>" + value.is_registered + "</td>" // TODO
                 + "<td>" + value.launch_score + " (" + value.launch_duration + ")</td>"
                 + "<td>" + value.dock_score + " (" + value.dock_duration + ")</td>"
                 + "<td>" + value.secure_score + " (" + value.secure_duration + ")</td>"
                 + "<td>" + value.return_score + " (" + value.return_duration + ")</td>"
                 + "<td>" + value.total_score + "</td>"
                 + "<td>" + value.total_duration + "</td>"
                 + "</tr>";

          $('tbody').append(newRow);
       });

       // Now that we've completed the request, schedule the next one
       setTimeout(getScoreboardStatus, {{ PAGE_REFRESH_INTERVAL }});
    }

    function getScoreboardStatus() {
       $.getJSON('/scoreboard/scoreboard_status/', handleScoreboardStatus);
    }

    function onReady(event) {
       getScoreboardStatus();
    }

    $(document).ready(onReady);
  </script>
{% endblock %}{# body_start #}

{% block main %}
  <div id="stationTable">
    <table>
      <thead>
        <tr>
           <th>Position</th>
           <th>Team Icon/Avatar (TBD)</th>
           <th>Team Name</th>
           <th>Team Code</th>
           <th>Organization</th>
           <th>Registered (TBD)</th>
           <th>Launch</th>
           <th>Dock</th>
           <th>Secure</th>
           <th>Return to Earth</th>
           <th>Total Score</th>
           <th>Total Duration (TBD)</th>
        </tr>
      </thead>

      <tbody/>
    </table>
  </div>
{% endblock %}{# main #}
