/* CSS - Cascading Style Sheet */

/*-----------------------------------------------------------*/
/* Palette color codes selected at paletton.com */
/* URL for this palette: http://paletton.com/#uid=35t120k8Lob2-BR5usOc9keeFeA */
/* Feel free to copy&paste color codes to your application */

/* As hex codes */

.color-primary-0 { color: #B1818C } /* Main Primary color */
.color-primary-1 { color: #EFDBE0 }
.color-primary-2 { color: #D3AFB7 }
.color-primary-3 { color: #945C69 }
.color-primary-4 { color: #6B3A45 }

.color-secondary-1-0 { color: #C1BB8C } /* Main Secondary color (1) */
.color-secondary-1-1 { color: #FFFDEB }
.color-secondary-1-2 { color: #E6E1BE }
.color-secondary-1-3 { color: #A19B64 }
.color-secondary-1-4 { color: #746F3F }

.color-secondary-2-0 { color: #606C7F } /* Main Secondary color (2) */
.color-secondary-2-1 { color: #ADB3BB }
.color-secondary-2-2 { color: #808998 }
.color-secondary-2-3 { color: #46546B }
.color-secondary-2-4 { color: #2D394D }
/*-----------------------------------------------------------*/

html {
 margin: 0;
 padding: 0;
}
body {
 margin: 0;
 padding: 0;
 font-family: "DejaVu Sans", Verdana, Corbel, Arial, sans-serif;
 color: black;
 /*width: 600px;*/
 border: 1px solid black;
}
#header {
 margin: 0;
/* padding-top: 0.5em;*/
 padding-bottom: 0.5em;
 background-color: #46546B;
 color: #C1BB8C;
 border-bottom: 1px solid #333;
 font-size: 120%;
 font-weight: bold;
}
#headerText {
 padding-left: 200px;
 padding-top: 0.5em;
}
#headerHome {
 float: left;
 font-size: 80%;
 padding-left: 0.5em;
 padding-top: 0.5em
}
#sidebarLeft {
 float: left;
 width: 160px;
 margin-left: 10px;
 padding-top: 1em;
 font-size: 70%;
}
#mainRight {
 padding-top: 1em;
 padding-bottom: 1em;
 margin: 0 2em 0 200px;
}
#footer {
 text-align: center;
 clear: both;
 background-color: #ADB3BB;
 padding-top: 0.5em;
 padding-bottom: 0.5em;
 border-top: 1px solid #333;
 /*padding-left: 200px;*/
 font-size: 70%;
}
#copyright {
 margin-top: 0.5em;
 font-size: 70%;
 font-weight: bold;
}
h2.sidebar {
  font-size: 120%;
}
/*.fieldWrapper {
  width: 600px;*/
}*/
.fieldWrapper label {
  font-weight: bold;
}
tr.submitRow td {
  padding-top: 1em;
  text-align: center;
}
/*table.buttonTable {
  border: 1px solid black;
}*/
table.buttonTable td {
  height: 100%;
  padding: 0.1em;
  font-size: 90%;
}
table.buttonTable button {
  width: 100%;
  height: 100%;
}
#id_tileMinX {
  width: 5em;
}
#id_tileMinY {
  width: 5em;
}
#id_tileMaxX {
  width: 5em;
}
#id_tileMaxY {
  width: 5em;
}
.leafletmap {
  border: 1px solid #6B3A45;
}
#map {
  width: 80%;
  height: 400px;
}
