{% extends "dbkeeper/base.html" %}

{% block title  %}Team Check-In{% endblock %}
{% block header %}Team Check-In | HSDC Competition{% endblock %}

{% block main %}
<p>Welcome to the HSDC Competition!  Check your team in to enter the challenge.</p>
<p>If your name is not in the list, please notify the <em>Competition Coordinator</em>.</p>
<p>Select your Team Name from the list, and enter your three-word passcode.</p>
<p>(Your passcode consists of 3 words:  two call letters followed by an ice-cream flavor.)</p>
<form action="/dbkeeper/checkin/{{ entity|lower }}/" method="post">
  <table>
    <tr>
      <td style="text-align: right;">{% if form.team.required %}* {% endif %}{{ form.team.label_tag }}</td><td colspan="3">{{ form.team }}</td><td><span style="color: red;">{{ form.team.errors }}</span></td>
    </tr>
    <tr>
      <td style="text-align: right;">{{ form.teamCode1.label_tag }}</td><td>{{ form.teamCode1 }}</td><td>{{ form.teamCode2 }}</td><td>{{ form.teamCode3 }}</td><td>{{ form.teamCode4 }}</td><td><span style="color: red;">{{ form.teamCode1.errors }} {{ form.teamCode2.errors }} {{ form.teamCode3.errors }}</span></td>
    </tr>
	</table>
    <input type="submit" value="Check In" />
</form>
{% endblock %}
