{% extends "dbkeeper/base.html" %}

{% block title  %}Populate Database{% endblock %}
{% block header %}Populate Database{% endblock %}

{% block main %}
From here you can perform the following operations:<br/>
<br/>
<a href="add/org/"><button>Add Organization</button><br/></a>
<a href="add/user/"><button>Add User</button><br/></a>
<a href="add/team/"><button>Add Team</button><br/></a>
<br/>
<a href="add/launchparams/"><button>Add Launch Parameters</button><br/></a>
<a href="add/dockparams/"><button>Add Dock Parameters</button><br/></a>
<a href="add/secureparams/"><button>Add Secure Parameters</button><br/></a>
<a href="add/returnparams/"><button>Add Return Parameters</button><br/></a>
<br/>
<a href="checkin/team/"><button>Check In Team</button><br/></a>
<br/>
<a href="station_status/"><button>Monitor Station Status</button><br/></a>
<br/>
<a href="/admin/dbkeeper/"><button><b>dbkeeper</b> Admin Interface</button><br/></a>
<a href="/admin/dbkeeper/organization/"><button><b>Organization Table</b> Admin Interface</button><br/></a>
<a href="/admin/dbkeeper/team/"><button><b>Team Table</b> Admin Interface</button><br/></a>
<a href="/admin/dbkeeper/setting/"><button><b>Setting Table</b> Admin Interface</button><br/></a>
<a href="/admin/dbkeeper/msuser/"><button><b>User Table</b> Admin Interface</button><br/></a>
<br/>
<a href="/admin/piservice/"><button><b>piservice</b> Admin Interface</button><br/></a>
{% endblock %}
