{% extends "dbkeeper/base.html" %}

{% block title  %}{{ entity|title }}{% endblock %}
{% block header %}{{ entity|title }}{% endblock %}

{% block main %}
<div style="max-width: 50em;">
  <h4>Insert Log Message</h4>
  <p>Add a message event to the PiEvent table.  The message will be timestamped and
  can be used to record an occurrence or to insert a note into the PiEvent table.
  </p>
</div>
<form action="/dbkeeper/add/logmsg/" method="post">
    {% csrf_token %}
    {# Include the hidden fields #}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {# Include the visible fields #}
    <table class="fieldWrapper">
       {% for field in form.visible_fields %}
       <tr>
          <td style="text-align: right;">{{ field.label_tag }}</td>
          <td style="text-align: left;">{{ field }}</td>
          <td style="text-align: left; color: red;">{{ field.errors }}</td>
       </tr>
       {% endfor %}
       <tr class="submitRow">
          <td colspan="3"><b><input type="submit" value="{{ submit }}" /></b></td>
       </tr>
    </table>
</form>
{% endblock %}
