{% extends "dbkeeper/base.html" %}

{% block title  %}Register Team {{ entity|title }}{% endblock %}
{% block header %}Register Team {{ entity|title }}{% endblock %}

{% block main %}
<table>
<tr>
<td>Registration</td>
<td>Unregister (Note you need to unregister after registering if you want to register again using the same pass code)</td>
<td>Reset Team Including Registration</td>
</tr>
<tr>
  <td><img src="http://zxing.org/w/chart?cht=qr&chs=350x350&chld=L&choe=UTF-8&chl=http%3A%2F%2F{{ host|urlencode:"" }}%2F{{ register_url|urlencode:"" }}"></td>
  <td><img src="http://zxing.org/w/chart?cht=qr&chs=350x350&chld=L&choe=UTF-8&chl=http%3A%2F%2F{{ host|urlencode:"" }}%2F{{ unregister_url|urlencode:"" }}"></td>
  <td><img src="http://zxing.org/w/chart?cht=qr&chs=350x350&chld=L&choe=UTF-8&chl=http%3A%2F%2F{{ host|urlencode:"" }}%2F{{ reset_url|urlencode:"" }}"></td>
</tr>
</table>
{% endblock %}

